body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: left;
    margin-top: 50px;
}

h1 {
    color: #007bff;
}

#heading-2{
    color: #007bff;
}
.heading {
    color: #28a745;
}
#para{
    border: 2px;
    border-style: solid;
    border-color: black;
    padding: 20px;
}
#navbar{
    border: 3px solid brown;
    padding: 10px;
    background-color: pink;
    text-align: center;
}

#navbar a{
    padding: 15px;
    text-decoration: none;
    color: black;
}

#navbar a:hover{
    background-color: yellow;
    color: red;
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#user-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}